.App {
  text-align: center;
}

/* ------- */

h1, h3, h4, p {
  color: white;
}

.home {
  z-index: 10;
}

.stats-display__stat {
  font-size: 11px;
  margin: 2px 0 4px;
}

.stats-display__ship-class {
  margin: 0 0 10px;
}
